{% extends 'base.html' %} {% block content %}
{% load cart %}
{% load custom_filter%}
<div class="container-fluid mt-3">
  <div class="row">
    <!-- all filter-->
    <div class="col-lg-3 mx-auto">
    <div class="list-group">
    <a href="/" style="text-decoration: none;color: black" class="list-group-item list-group-item-action"><button style="display: table;width: 130px;padding: 0; border:1px solid lightgrey">All Products</button></a>
    {% for category in categories%}
    <button style="display: table;width: 130px;padding: 0; border:1px solid lightgrey"><a style="text-decoration: none;color: black" href="/?category={{category.id}}" >{{category.name}}</a>
    </button>
    {% endfor %}
    </div>
    </div>
    <!-- all products-->
    <div id="products" class="col-lg-9 mx-auto">
      <div class="row mx-auto ">
        {% for product in products %}
        <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem">
          <img
            src="{{product.image.url}}"
            class="card-img-top"
            alt="card image cap">
          
          <div class="card-body">
            <p class="card-title">{{product.name}}</p>
            <p class="card-text"><b>{{product.price|currency}}</b></p>
           <!-- {{ product | is_in_cart:request.session.cart }}-->
          
          </div>  


              <div class="card-footer p-0  no-gutters">
              {% if  product|is_in_cart:request.session.cart %}

                <div class="row  no-gutters" >
                   <form action="/#{{product.id}}" class="col-2" method="post" >
                           {% csrf_token %}
                       <input hidden type="text" name="product" value='{{product.id}}' >
                       <input hidden type="text" name="remove" value='true' >
                       <input type="submit" value="-" class="btn btn-block btn-secondary">
                    </form>  
                  <div class="text-center col" > {{product|cart_quantity:request.session.cart }} in cart</div> 
                    <form action="/#{{product.id}}" class="col-2" method="post" >
                           {% csrf_token %}
                       <input hidden type="text" name="product" value='{{product.id}}' >
                      <input type="submit" value="+" class="btn btn-block btn-secondary">
                    </form>            
                </div>
              {% else %}  
                <form action="/{{product.id}}" method="post" class="btn-block">
                      {% csrf_token %}
                  <input hidden type="text" name="product" value='{{product.id}}' >
                  <input type="submit" class="float-right btn btn-light border form-control" value="Add to Cart"> 
                </form>
                {% endif %}
              </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
