  {% extends 'base.html' %} {% block content %}
 <div class="container">
 
  <div class="p-4 m-4">
   <h3 class="alert alert-light" style="text-align: center">Login </h3>
    <div class="col-lg-5 mx-auto rounded pt-4">
            <form action="" method="post">
             {% csrf_token %}
      {% if error %}
      <div class="alert alert-danger" role="alert"> 
      {{error}}
      </div>
      {% endif%}
              <div class="form-label">
              <label for="inputEmail">Email address</label>
                <input type="email" id="inputEmail" name = "email" class="form-control" placeholder="Email address" required autofocus>
                
              </div>
             <div class="form-label">
                 <label for="inputPassword">Password</label>
                <input type="password"  name="password" id="inputPassword" class="form-control" placeholder="Password" required>
             
              </div>

              <div class="form-label ">            
              <button class="btn btn-sm btn-info col-lg-4" type="submit">Sign in</button>
              </div>
           </form>
             
    </div>
  </div>
</div>
    
  {% endblock %}