{% extends 'base.html' %} {% block content %}

<div class="container">
 
  <div class="p-4 m-4">
   <h3 class="alert alert-light" style="text-align: center">Create Account</h3>
    <div class="col-lg-5 mx-auto rounded pt-4">
      <!--  <h3 class="alert alert-light border rounded">Create Account</h3>-->
      <form action="/signup" method="post">
      
      {% csrf_token %}
      {% if error %}
      <div class="alert alert-danger" role="alert"> 
      {{error}}
      </div>
      {% endif%}
        <!--emial-->
        <div class="form-group">
          <label for="" class="form-label">First Name </label>
          <input
            type="text"
            name="firstname"
            class="form-control"
            id="exampleInputEmail1"
            value="{{values.first_name}}"
            placeholder="FirstName"
          />
        </div>
        <!--emial-->
        <div class="form-group">
          <label for="" class="form-label">Last Name </label>
          <input
            type="text"
            name="lastname"
            class="form-control"
            id="exampleInputEmail1"
             value="{{values.last_name}}"
            placeholder="LastName"
          />
        </div>
        <!--emial-->
        <div class="form-group">
          <label for="" class="form-label">Phone </label>
          <input
            type="text"
            name="phone"
            class="form-control"
            id=""
             value="{{values.phone}}"
            placeholder="9876432460"
          />
        </div>
        <!--emial-->
        <div class="form-group">
          <label for="" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
             value="{{values.email}}"
            placeholder="email@gmail.com"
            Required
          />
        </div>
        <!--emial-->
        <div class="form-group">
          <label for="" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id=""
            placeholder="********"
          />
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-info">Create Account</button>
        </div>
        
      </form>
    </div>
  </div>
</div>

{% endblock %}
